---
interface Props {
  fill?: string;
  position?: "top" | "bottom";
  flip?: boolean;
}

const { fill = "#ffffff", position = "bottom", flip = false } = Astro.props;
---

<div
  class={`absolute left-0 w-full overflow-hidden leading-[0] ${position === "top" ? "-top-1" : "-bottom-1"} ${flip ? "rotate-180" : ""}`}
>
  <svg
    data-name="Layer 1"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 1200 120"
    preserveAspectRatio="none"
    class="relative block w-[calc(100%+1.3px)] h-[60px] md:h-[100px]"
  >
    <path
      d="M0,0 H1200 V60 C1000,115 800,115 600,60 C400,5 200,5 0,60 V0 Z"
      style={`fill: ${fill};`}></path>
  </svg>
</div>
